<!DOCTYPE html>
<html>
<head>
	<title>
		Homepage
	</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Apply Your School</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/search/schools">Search schools</a></li>
      <li><a href="/search/programs">Search programs</a></li>
      <li><a href="/search/classes">Search classes</a></li>
      <li><a href="/search/professors">Search professors</a></li>
      <li><a href="/search/cities">Search cities</a></li>
      <li><a href="/search/rankings">Search rankings</a></li>
      <li><a href="/advance">Advanced searching</a></li>
    </ul>
  </div>
</nav>
<section>
<h2 class="text-center" >
	<a href="/search/schools">Search schools</a>
</h2>
<h2 class="text-center" >
	<a href="/search/programs">Search programs</a>
</h2>
<h2 class="text-center" >
	<a href="/search/classes">Search classes</a>
</h2>
<h2 class="text-center" >
	<a href="/search/professors">Search professors</a>
</h2>
<h2 class="text-center" >
	<a href="/search/cities">Search cities</a>
</h2>
<h2 class="text-center" >
	<a href="/search/rankings">Search rankings</a>
</h2>
<h2 class="text-center" >
	<a href="/advance">Advanced searching</a>
</h2>
</section>
</body>

</html>