<!DOCTYPE html>
<html lang="en">
<head>
  <title>Find a program</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/index">Apply Your School</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/search/schools">Search schools</a></li>
      <li><a href="/search/programs">Search programs</a></li>
      <li><a href="/search/professors">Search professors</a></li>
      <li><a href="/search/cities">Search cities</a></li>
      <li><a href="/search/rankings">Search rankings</a></li>
      <li><a href="/search/advanced">Advanced searching</a></li>
    </ul>
  </div>
</nav>
<h1>Find a program to apply</h1>
<form action="/search/programs" method="POST">
  <div class="form-group">
    <label for="department">Department</label>
    <input class="form-control" id="department" name="department">
  </div>
  <div class="form-group">
  <label for="school_name">School Name</label>
        <input class="form-control" id="school_name" name="school_name">
  </div>
<div class="form-group">
  <label for="degree">Select Degree:</label>
 <select class="form-control" id="degree" name="degree">
  <option value="B%">Undergrad</option>
  <option value="M%">Grad</option>
</select>
</div>
<div class="form-group">
<label for="tuition_range">Tuition Range</label>
  <div class="input-group">
    <input type="text" class="form-control" id="tuition_range1" name="tuition_range1" placeholder="Start"/>
    <span class="input-group-addon">-</span>
    <input type="text" class="form-control" id="tuition_range2" name="tuition_range2" placeholder="End"/>
</div>
</div>
<div class="form-group">
<label for="salary_range">Average Starting Salary</label>
  <div class="input-group">
    <input type="text" class="form-control" id="salary_range1" name="salary_range1" placeholder="Start"/>
    <span class="input-group-addon">-</span>
    <input type="text" class="form-control" id="salary_range2" name="salary_range2" placeholder="End"/>
</div>
</div>
  <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
  <div class="container">
  <h2>Result Table</h2>       
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Department</th>
        <th>School Name</th>
        <th>Degree</th>
        <th>Tuition</th>
        <th>Average Length (YEAR)</th>
        <th>Average Starting Salary</th>
      </tr>
    </thead>
    <tbody>
      {%for content in contents%}
      <tr>
        <td>{{content['DEPARTMENT']}}</td>
        <td>{{content['SCHOOL_NAME']}}</td>
        <td>{{content['DEGREE']}}</td>
        <td>{{content['TUITION_($)']}}</td>
        <td>{{content['AVERAGE_LENGTH_(YEAR)']}}</td>
        <td>{{content['AVERAGE_STARTING_SALARY_($)']}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>
