<!DOCTYPE html>
<html lang="en">
<head>
  <title>Apply Your School</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h1>Find a school to apply</h1>
<div class="container">
	<form>
    <label class="radio-inline">
      <input type="radio" name="optradio">Option 1
    </label>
    <label class="radio-inline">
      <input type="radio" name="optradio">Option 2
    </label>
    <label class="radio-inline">
      <input type="radio" name="optradio">Option 3
    </label>
  </form>
</div>
<form action="/" method="POST">
  <div class="form-group">
    <label for="school_name">School Name</label>
    <input class="form-control" id="school_name" name="school_name">
  </div>
  <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
</form>
<div class="form-group">
  <label for="sel1">Select list:</label>
  <select class="form-control" id="sel1">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
  </select>
    
</div>
  <div class="container">
  <h2>Result Table</h2>       
  <table class="table table-striped">
    <thead>
      <tr>
        <th>School Name</th>
        <th>Ranking</th>
      </tr>
    </thead>
    <tbody>
      {%for content in contents%}
      <tr>
        <td>{{content['school']}}</td>
        <td>{{content['rank']}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>
